<!DOCTYPE html>
<html>
  <head>
    <title><%= t('doorkeeper.layouts.application.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "icon.png" %>
    <link rel="apple-touch-icon" href="<%= path_to_image("icon.png") %>">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>

  <body class="flex min-h-screen flex-col bg-gray-50 text-gray-900 antialiased">
    <%= render "layouts/navigation" %>
    <main class="mx-auto w-full max-w-7xl grow px-4 py-6 sm:px-6 lg:px-8">
      <% if flash[:notice].present? %>
        <div class="mb-4 rounded-lg border border-green-200 bg-green-50 p-4 text-md text-green-700">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
