<p>
  <%= link_to "Meetings", meetings_path %> &gt;
  <%= link_to "Meeting #{@meeting.number}", meeting_path(@meeting) %> &gt;
  <%= @group.acronym %>
</p>

<h1><%= @group.name %> (<%= @group.acronym %>)</h1>

<table>
  <tbody>
    <tr>
      <th>Type</th>
      <td><%= @group.group_type %></td>
    </tr>
    <tr>
      <th>State</th>
      <td><%= @group.state %></td>
    </tr>
    <% if @group.description.present? %>
      <tr>
        <th>Description</th>
        <td><%= @group.description %></td>
      </tr>
    <% end %>
    <% if @group.list_email.present? %>
      <tr>
        <th>Mailing list</th>
        <td><%= @group.list_email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Documents</h2>

<div data-controller="bulk-download">
  <% if @documents.any? { |d| d.material_attached? } %>
    <p>
      <button type="button" data-action="click->bulk-download#downloadAll">
        Download All Materials
      </button>
    </p>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Type</th>
        <th>Rev</th>
        <th>Material</th>
      </tr>
    </thead>
    <tbody>
      <% @documents.each do |document| %>
        <tr>
          <td><%= link_to document.name, document_path(document) %></td>
          <td><%= document.title %></td>
          <td><%= document.document_type %></td>
          <td><%= document.rev %></td>
          <td>
            <% if document.material_attached? %>
              <%= link_to "Download", rails_blob_path(document.document_material.file, disposition: "attachment"),
                    data: { bulk_download_target: "link" } %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p><%= link_to "Back to Meeting #{@meeting.number}", meeting_path(@meeting) %></p>
