<nav>
  <%= link_to "Meetings", meetings_path %> |
  <%= link_to "Groups", groups_path %> |
  <%= link_to "Sessions", sessions_path %> |
  <%= link_to "Documents", documents_path %> |
  <%= link_to "Session Presentations", session_presentations_path %>
</nav>
<hr>
